* {
    margin: 0;
    padding: 0;
}
body {
 background-image: url(imagens/fundo.png); background-repeat: repeat-x;
 background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#principal {
    width: 750px;
    margin: 0 auto;
    
}
#topo {
    height: 150px;
    /*border: 1px solid red;*/
    background-image: url(imagens/detalhe-topo.png);background-repeat:no-repeat; background-position: right;
    padding-top: 25px;
}
.logo {
    width: 152px;
    height: 66px;
    background-image: url(imagens/logo.png); background-repeat: no-repeat; background-position: center;
    text-indent: -3000px;

}
a:link, a:visited {
	color: #b10333;
	padding: 2px;
}
a:hover {
	color: #e50040;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topo ul {
    background-color: #b10333;
    margin-top: 30px;
    float: left;
    }
    #topo ul li {
        float: left;
    }
    #topo ul a{
        font-size: 0.9em;
        display: block;
        padding: 0.5em 1.5em;
        line-height: 2.1em;
        text-decoration: none;
        color: white;
        background-image: url(imagens/divisor.png); background-repeat: no-repeat; background-position: left;

    }
    #topo ul .primeiro a {
    background-image: none;
    }
    #topo ul a:hover {
        color: #69001d;
    }
    body .home #navegacao a#home,
    body .brasil #navegacao a#brasil,
    body .internacional #navegacao a#internacional,
    body .economia #navegacao a#economia,
    body .saude #navegacao a#saude,
    body .ciencia #navegacao a#ciencia,
    body .fotos #navegacao a#fotos {
        color: white;
        background-color: #de003e;
        cursor: text;
    }
    
    /* 3 colunas*/
#conteudo {
        background: #f5f5f5;
        margin-top: 60px;

}
#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
   }   
#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    }
#duas-colunas #primario {
    width: 555px;
    }
#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
    
}
#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    }
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3;
    background-image: url(../noticias/imagens/fundo-caixa.png);
}
/* Cabeçcalhos*/
h2 {
    font-size: 1em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background-color: #b10333;
    color: #fff;
}
.entrevista {
    background-color: #be003e;
}
.caixa-conteudo {
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}
.imagem-principal {
    border: 3px solid #dfdfdf;
}
#rodape {
    background-color: #294c71;
    padding: 20px;
}
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover {
    background: #f9f9f9 url(../noticias/imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
	color: #a1a1a1;   
}
label {
    display: block;
    cursor: pointer;
}
input {
    width: 125px;
    padding: 5px;
font-size: 00.9em;
background-color: #fff;
}
input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 1px solid #870529;
    }
#rodapetexto {  
    width: 750px;
    margin: 0 auto;
    color: #f5f5f5;
}